.body-content1{
    height: 2.5cm;
    .home1head{
        width: 350px;
        margin-top: 0.5cm;
        margin-left: 14cm;
        .head1{
            display: flex;
            font-size: 60px;
            font-weight: 600;
            color: rgb(196, 3, 147);
        }
    }
}